@import "reset.css";
@import "variables.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300vh;
  line-height: 30px;
  background: linear-gradient(270deg, #eb6ead, #5b87da);
  background-size: 200% 200%;
  -webkit-animation: headerbg 10s ease infinite;
  -moz-animation: headerbg 10s ease infinite;
  animation: headerbg 10s ease infinite;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 500px;
}

@media screen and (max-width: 565px) {
  .header {
    height: 400px;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 565px) {
  .header-text {
    margin-top: 140px;
  }
}

.header-text span:nth-child(2) {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width: 565px) {
  .header-text span:nth-child(2) {
    font-size: 45px;
  }
}

.profile {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 100;
  position: absolute;
  top: 300px;
  border: 20px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.5s ease-in-out;
}

.profile:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 565px) {
  .profile {
    width: 200px;
    height: 200px;
    top: 280px;
  }
}

/* navigation */

.nav {
  width: 100%;
  padding: 20px 0px;
  z-index: 999;
  position: fixed;
  top: 0;
  font-size: 15px;
  font-weight: 700;
  background: linear-gradient(270deg, #eb6ead, #5b87da);
  background-size: 200% 200%;
  -webkit-animation: headerbg 10s ease infinite;
  -moz-animation: headerbg 10s ease infinite;
  animation: headerbg 10s ease infinite;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0px 70px;
}

.nav li a {
  color: white;
}

/* sections */

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
#one {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.title-text {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
}

.section:nth-child(4) > .title-text {
  padding-top: 220px;
}

@media screen and (max-width: 565px) {
  .section:nth-child(4) .title-text {
    font-size: 22px;
    padding-top: 130px;
  }
}

@media screen and (max-width: 565px) {
  .title-text {
    font-size: 22px;
  }
}

.sub-title-text {
  font-size: 25px;
  font-weight: 700;
  margin: 40px 0px;
}

@media screen and (max-width: 565px) {
  .sub-title-text {
    font-size: 18px;
    margin-top: 0px;
  }
}

.section-item {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tools-img {
  display: flex;
  justify-content: center;
}

.tools-img img {
  width: 70px;
  margin: 0px 20px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media screen and (max-width: 565px) {
  .tools-img img {
    width: 50px;
    margin: 0px 10px;
  }
}

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.project div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

@media screen and (max-width: 1024px) {
  .project div {
    width: 40%;
  }
}
.project a:hover {
  color: var(--blue);
}
@media screen and (max-width: 565px) {
  .project a {
    font-size: 15px;
  }
}
.project img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
  width: 80%;
}

@-webkit-keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
