@import "reset.css";
@import "variables.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 300vh;
  background: linear-gradient(270deg, #eb6ead, #5b87da);
  background-size: 200% 200%;

  -webkit-animation: headerbg 10s ease infinite;
  -moz-animation: headerbg 10s ease infinite;
  animation: headerbg 10s ease infinite;
}

header {
  width: 100vw;
  height: 500px;
  position: relative;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 300;
  padding-top: 150px;
}

.header-text span:nth-child(1) {
  font-size: 20px;
  margin-bottom: 20px;
}

.header-text span:nth-child(2) {
  font-size: 60px;
  font-weight: 700;
}

.profile {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 100;
  position: absolute;
  top: 310px;
  border: 20px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.5s ease-in-out;
}

.profile:hover {
  transform: scale(1.03);
}

.nav {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  padding: 50px;
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.nav li {
  margin-bottom: 20px;
}

.container {
  width: 100vw;
  height: 900px;
  padding: 10px;

  border-bottom: 1px solid black;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-text {
  text-align: center;
  padding-top: 230px;
  font-size: 40px;
  font-weight: 700;
}
.sub-title-text {
  font-size: 25px;
  font-weight: 700;
  margin: 40px 0px;
}

.tools {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tools-img {
  display: flex;
  justify-content: center;
}

.tools-img img {
  width: 70px;
  margin: 0px 20px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-box {
  padding-top: 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.project-item div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
  height: 200px;
}

.project-item img {
  width: 100px;
  height: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
}

@-webkit-keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes headerbg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
