@import "reset.css";
@import "variables.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scroll-snap-type: y;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300vh;
  line-height: 30px;
  text-align: center;
  background: linear-gradient(270deg, var(--pink), var(--blue));
  background-size: 200% 200%;
  -webkit-animation: bganimation 10s ease-in-out infinite;
  -moz-animation: bganimation 10s ease-in-out infinite;
  animation: bganimation 10s ease-in-out infinite;
}

i {
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 30px 0px;
}

/* header */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
  scroll-snap-align: start;
}

@media screen and (max-width: 565px) {
  header {
    height: 350px;
  }
}

.header-text {
  padding: 150px 0px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

@media screen and (max-width: 565px) {
  .header-text {
    padding: 110px 0px;
  }
}

.header-text h1:nth-child(2) {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
}

@media screen and (max-width: 565px) {
  .header-text h1:nth-child(2) {
    font-size: 45px;
  }
}

.profile {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 100;
  position: absolute;
  top: 300px;
  border: 20px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.5s ease-in-out;
}

.profile:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 565px) {
  .profile {
    width: 200px;
    height: 200px;
    top: 240px;
  }
}

/* navigation */

.nav {
  width: 100%;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  z-index: 999;
  font-size: 15px;
  font-weight: 700;
  background: linear-gradient(270deg, var(--pink), var(--blue));
  background-size: 200% 200%;
  -webkit-animation: bganimation 10s ease-in-out infinite;
  -moz-animation: bganimation 10s ease-in-out infinite;
  animation: bganimation 10s ease-in-out infinite;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0px 70px;
}

@media screen and (max-width: 320px) {
  .nav {
    font-size: 10px;
  }
  .nav li {
    margin: 0px 50px;
  }
}

.nav li a {
  color: white;
}

/* sections */

.section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  scroll-snap-align: start;
}

.title-text {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
}

.section:nth-child(3) > .title-text {
  padding-top: 200px;
  padding-bottom: 40px;
  width: 90%;
}

.sub-title-text {
  font-size: 25px;
  font-weight: 700;
  margin: 40px 0px;
}

@media screen and (max-width: 565px) {
  .section:nth-child(3) .title-text {
    font-size: 22px;
    padding-top: 130px;
  }
  .title-text {
    font-size: 22px;
  }
  .sub-title-text {
    font-size: 18px;
    margin-top: 0px;
  }
}

.section-item {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section one */

#one {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.tools-img {
  display: flex;
  justify-content: center;
}

.tools-img img {
  width: 70px;
  margin: 0px 20px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 565px) {
  .tools-img img {
    width: 50px;
    margin: 0px 10px;
  }
}

.tools-img img:hover {
  transform: scale(1.2);
}

.project {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.project div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.project a:hover {
  color: var(--blue);
}

@media screen and (max-width: 565px) {
  .project a {
    font-size: 15px;
  }
}

.project img {
  margin-bottom: 30px;
  width: 80%;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project img:hover {
  transform: scale(1.03);
}

/* section two */

#two .section-item {
  margin-top: 40px;
}

.favorite {
  margin-bottom: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 565px) {
  .favorite {
    font-size: 15px;
  }
}

.favorite i {
  margin-right: 20px;
  background: linear-gradient(320deg, var(--pink), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.favorite-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  justify-items: center;
  margin-top: 40px;
}

.favorite-img img {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* section three */

.contact i {
  margin: 50px 30px;
}

.contact i:hover {
  background: linear-gradient(320deg, var(--pink), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* animations */

@-webkit-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
