@import "reset.css";
@import "variables.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(270deg, var(--pink), var(--blue));
  background-size: 200% 200%;
  -webkit-animation: bganimation 10s ease-in-out infinite;
  -moz-animation: bganimation 10s ease-in-out infinite;
  animation: bganimation 10s ease-in-out infinite;
}

i {
  font-size: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 300;
  font-size: 15px;
  padding: 30px 0px;
}

/* header */

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.header-text {
  display: flex;
  flex-direction: column;
  padding: 150px 0px;
  color: white;
  font-weight: 300;
  font-size: 20px;
}

h1 {
  margin-top: 10px;
  font-size: 60px;
  font-weight: 700;
}

.profile {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 100;
  position: absolute;
  top: 300px;
  border: 20px solid rgba(255, 255, 255, 0.05);
  transition: transform 0.5s ease-in-out;
}

.profile:hover {
  transform: scale(1.1);
}

/* navigation */

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  font-size: 15px;
  font-weight: 700;
  background: linear-gradient(270deg, var(--pink), var(--blue));
  background-size: 200% 200%;
  -webkit-animation: bganimation 10s ease-in-out infinite;
  -moz-animation: bganimation 10s ease-in-out infinite;
  animation: bganimation 10s ease-in-out infinite;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav li {
  margin: 0px 70px;
}

.nav li a {
  color: white;
}

/* sections */

section {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
}

section:nth-child(3) > h2 {
  padding-top: 200px;
  width: 90%;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 40px 0px;
}

.section-item {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* section one */

#one {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.tools-img {
  display: flex;
  justify-content: center;
}

.tools-img img {
  width: 70px;
  margin: 0px 20px;
  border-radius: 50%;
  border: solid 5px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.tools-img img:hover {
  transform: scale(1.2);
}
.tools-img__close {
  all: unset;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: var(--violet);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.tools-img__close:hover {
  background: var(--pink);
}
.tools-img__close:active {
  background: var(--pink);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px inset;
  transform: translateY(5px);
}

.project {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.project div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
}

.project a:hover {
  color: var(--blue);
}

.project img {
  margin-bottom: 30px;
  width: 80%;
  border-radius: 10px;
  transition: transform 0.5s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.project img:hover {
  transform: scale(1.03);
}

/* 인접형제 선택자 a+b - 같은 부모를 가지는 a 뒤의 b */
.project + button {
  all: unset;
  background-color: var(--violet);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 2px 30px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.project + button:hover {
  background: var(--pink);
}
.project + button:active {
  background: var(--pink);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 4px 4px 0px inset;
  transform: translateY(5px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(10px);
  transform: scale(2);
}

.modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 70px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  width: 50%;
  animation: modalAnimation 0.3s;
}

.modal__content button {
  all: unset;
  padding: 10px 20px;
  color: var(--violet);
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.modal__content button:active {
  color: var(--pink);
  transform: translateY(3px);
}

.modal__content span {
  padding-bottom: 40px;
}

.modal__nav {
  background-color: thistle;
}

/* section two */

#two .section-item {
  margin-top: 40px;
}

.favorite {
  margin-bottom: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite:nth-child(2):hover,
.favorite:nth-child(3):hover {
  color: var(--blue);
}

.favorite i {
  margin-right: 20px;
}

.favorite:nth-child(2),
.favorite:nth-child(3) {
  cursor: pointer;
}

.favorite-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  justify-items: center;
  margin-top: 40px;
  animation: fadein 1s;
}

.favorite-img img {
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* section three */

.contact i {
  margin: 50px 30px;
}

.contact i:hover {
  background: linear-gradient(320deg, var(--pink), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* media query */

@media screen and (max-width: 565px) {
  body {
    line-height: 40px;
  }

  header {
    height: 350px;
  }

  .header-text {
    padding: 110px 0px;
  }

  h1 {
    font-size: 45px;
  }

  .profile {
    width: 200px;
    height: 200px;
    top: 240px;
  }

  section:nth-child(3) h2 {
    padding-top: 130px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .tools-img img {
    width: 50px;
    margin: 0px 10px;
  }

  .project a {
    font-size: 15px;
  }

  .favorite {
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .nav {
    font-size: 10px;
  }

  .nav li {
    margin: 0px 50px;
  }

  .modal__content {
    width: 30%;
  }
}

/* fade.js */

.js-fade {
  opacity: 0;
}

.js-fade.active {
  opacity: 1;
  animation: fadein 1s;
}

/* project.js */

.hidden {
  display: none;
}

.click-scale {
  transform: scale(1.2);
}

.opacity {
  opacity: 10%;
}

/* animations */

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes modalAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes modalAnimation {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes bganimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
